{% macro RenderCaptureTypeWithPattern(c) %}
<details>
  <summary>
    {% if c.output %}
      Capture Type <code>{{c.output}}</code>
    {% else %}
      No capturing pattern
    {% endif %}
  </summary>
  {% if c.options %}
    {{RenderOptions(c.options)}}<br>
  {% endif %}
    Parts: <br>
    <ul>
      {% for c2 in c.parts %}
      <li>{{Render(c2)}}</li>
      {% endfor %}
    </ul>
</details>
{% endmacro %}

{% macro RenderRegexFragment(r) %}
Regex Fragment: <code class="parsing-regexfragment">{{r.value}}</code>
{% endmacro %}

{% macro RenderRegexReference(r) %}
<details>
  <summary>Regex Reference: <code>{{r.name}}</code></summary>
  {{Render(engine.regexes[r.name])}}
</details>
{% endmacro %}

{% macro RenderRegexConcat(r) %}
  Regex concatenation
  <ol>
    {% for r2 in r.parts %}
    <li>{{Render(r2)}}</li>
    {% endfor %}
  </ol>
  Wrap as non-capture group: {{r.wrap_non_capture}}
{% endmacro %}

{% macro RenderCaptureReference(c) %}
<details>
  <summary>Capture Reference: <code>{{c.name}}</code></summary>
  {% if c.name in engine.capture_patterns_constants %}
    {{Render(engine.capture_patterns_constants[c.name])}}
  {% elif c.name in engine.regexes %}
    {{Render(engine.regexes[c.name])}}
  {% else %}
    Unresolved
  {% endif %}
</details>
{% endmacro %}

{% macro RenderOptions(o) %}
{% if "RegexFragment" in o.separator.__class__.__name__ %}
Options: Separator: {{Render(o.separator)}}, Quantifier: {{o.quantifier}}
{% else %}
<details>
  <summary>Options:</summary>
  Separator:
  {{Render(o.separator)}}<br>
  Quantifier: {{o.quantifier}}
</details>
{% endif %}
{% endmacro %}

{% macro RenderCaptureTypeWithPatternCascade(c) %}
<details>
  <summary>Capture Type <code>{{c.output}}</code> from cascade</summary>
  {% if c.condition %}
  Condition:<br>{{Render(c.condition)}}<br>
  {% endif %}
  Cascade:<br>
  <ol>
  {% for c2 in c.patterns %}
  <li>{{Render(c2)}}</li>
  {% endfor %}
  </ol>
</details>
{% endmacro %}

{% macro Render(c) %}
{% if "CaptureTypeWithPatternCascade" in c.__class__.__name__ %}
{{RenderCaptureTypeWithPatternCascade(c)}}
{% elif "CaptureTypeWithPattern" in c.__class__.__name__ %}
{{RenderCaptureTypeWithPattern(c)}}
{% elif "CaptureReference" in c.__class__.__name__ %}
{{RenderCaptureReference(c)}}
{% elif "RegexFragment" in c.__class__.__name__ %}
{{RenderRegexFragment(c)}}
{% elif "RegexReference" in c.__class__.__name__ %}
{{RenderRegexReference(c)}}
{% elif "RegexConcat" in c.__class__.__name__ %}
{{RenderRegexConcat(c)}}
{% else %}
Gap: {{c.__class__}}
{% endif %}
{% endmacro %}

{% macro RenderCapturePattern(token_id) %}
{{Render(engine.capture_patterns[token_id])}}
{% endmacro %}

{% if token_id in engine.capture_patterns %}
<h4>Parsing:</h4>
<div class="parsing">
{{RenderCapturePattern(token_id)}}
</div>
{% endif %}